body{
    background-image: url(https://media.istockphoto.com/photos/fire-frame-isolated-on-black-picture-id175386926?k=6&m=175386926&s=612x612&w=0&h=SlIV1FbDU9daI1-d0P3zYtnMxKIxf7OZvw2Y-nikBzc=);
    position: fixed;
    width: 100%;
    z-index: -1;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

div{
    margin-left: 33%;
    margin-top: 6%;
    line-height: 2;
}