.bgimg{
    background-image: url(https://media.istockphoto.com/photos/fire-frame-isolated-on-black-picture-id175386926?k=6&m=175386926&s=612x612&w=0&h=SlIV1FbDU9daI1-d0P3zYtnMxKIxf7OZvw2Y-nikBzc=);
    position: fixed;
    width: 100%;
    z-index: -1;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;   
}
.text{
    font-size: 1.5em;
    border-bottom: 1.5px solid white;
    width: max-content;
    margin-left: 45%;
    padding-top: 3%;
    margin-bottom: 30px;
}
body{
    color: white;
    text-align: center;
    margin: 0;
}

img{
    width: 325px;
    height: 265px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.cont{
    display: flex;
    flex-wrap: wrap ;

}

.item{
    flex: 33%;
}